#navbar{
    display:flex;
    justify-content: flex-start;
   
    padding:10px 0px 10px 0px
}
#navbar div{
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 800;
}
#navbar a{
    text-decoration: none;
    color:black;
    margin-top: 20px;
}
#navbar> h4{
    margin-top: 20px;
}
#logo{
    height:50px;
}
#heading{
    height:300px;
    background-color: rgb(13, 198, 158);
    color:white;
    text-align: center;
    
}
#heading input {
    height:40px;
    width:600px;
    margin-top: 20px;
    
}