body{
    background-color: #ebeff4;
}
#form{
    height: 85%;
    background-color: white;
    border-radius: 20px;
    width: 44%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#form>h2{
    width: 40%;
    margin: auto;
    margin-top: 40px;
}
#form>img{
    height: 50px;
    width: 10%;
   padding-top: 20px;
   padding-left: 230px;
   
}
#form>#first{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#form>#first>div{
 cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    padding-top: 40px;
   text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#form>p{
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
#form>#btn{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 40px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    background-color: #1bc98e;
    width: 92%;
    margin: 25px 25px;
    margin-bottom: 20px;
    padding: 15px 10px;
}